// COLORS
$color-primary: #4cbbb9;
$color-primary-light: #77d8d8;
$color-primary-dark: #0779e4;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID

$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}


.contact-section-info {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: 0vh;
    height: 85rem;
    position: relative;

    @include respond(tab-land) {
        height: 70rem;
        top: 5rem;
    }

    @include respond(tab-port) {
        height: 130rem;
        top: 5rem;
    }
    @include respond(phone) {
        height: 90rem;
    }
}

.u-center-text { text-align: center; }

.feature-box-contact {
    background-color: rgba(white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
    transition: transform .3s;
    position: relative;

    @include respond(tab-port) {
        padding: 2rem;
        top: -2.5rem;
    }

    @include respond(phone) {
        height: 16.5rem;
        font-size: 1rem;
    }

    &__icon {
        font-size: 8rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, #77d8d8, #0779e4);
        -webkit-background-clip: text;
        color: transparent;

        @include respond(tab-port) {
            margin-bottom: 0;
        }

        @include respond(phone) {
            font-size: 4rem;
        }
    }

    &__text {

    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }

.u-center-text { text-align: center !important; }

.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-big { margin-bottom: 8rem !important; }

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }



.row {
    max-width: 114rem;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: 8rem;
    }
    
    @mixin clearfix {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: 6rem;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{6rem}) / 2);
        
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{6rem}) / 3);
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{6rem}) / 3) + #{6rem});
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{6rem}) / 4);
    }

    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{6rem}) / 4) + #{6rem});
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{6rem}) / 4) + 2 * #{6rem});
    }

}

.btn-text {
    &:link,
    &:visited {
        font-size: 1.6rem;
        color: #4cbbb9;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid #4cbbb9;
        padding: 3px;
        transition: all .2s;
        align-content: left;
    }

    &:hover {
        background-color: #4cbbb9;
        color: rgb(255, 255, 255);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
        transform: translateY(0);
    }

}